<launch>
  <!-- 启动 data_loader_node 节点 -->
  <node name="data_loader_node" pkg="data_loader" type="data_loader_node" 
        required="true" clear_params="true" output="screen" >
    <rosparam command="load" file="$(find data_loader)/config/data_loader_stw.yaml"/>
  </node>
  
  <!-- 启动 rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find data_loader)/rviz/data_loader_stw.rviz"/>

</launch>

<!-- 
    required="true" 表示如果这个节点死掉，整个launch文件启动的其他节点也将被关闭
    clear_params="true" 在节点启动之前，会清除这个节点在参数服务器上的任何现存参数
 -->